<!DOCTYPE html>
<html>

<head>
    <title>ToyLand - A Complete Toy Shop</title>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="css/blueimp-gallery.css">
    <link rel="stylesheet" href="css/blueimp-gallery-indicator.css">
    <link rel="stylesheet" href="css/blueimp-gallery-video.css">

    <style>
        .frame {
            font-weight: bold;
            font-size: 20pt;
        }
    </style>
</head>

<body id="top">
    <div class="wrapper row1">
        <div id="signUp">
            <a href="signup">|Sign Up|</a>
        </div>
        <header id="header" class="clear">
            <div id="logo" class="float_left">
                <h1><a href="index">ToyLand</a></h1>
            </div>
            <nav id="mainav" class="float_right">
                <ul class="clear">
                    <li><a href="index">Home</a></li>
                    <li><a href="shop">Shop</a></li>
                    <li class="active"><a href="aboutus">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="breadcrumb">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="aboutus">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper row3">
        <main id="container" class="clear">

            <div class="one_half first">
                <img class="img_left pad5 borderedbox" src="images/348s.jpg" alt="">
            </div>
            <div class="one_half">
                <h1>About ToyLand</h1>
                <p>A two-teeth smile of a little one or a no-teeth smile of an old one, smile looks good on every face!
                    We just want to be responsible for at least one of your sweet smiles! Even our tagline ‘joys for
                    all’ conveys the same and we aim to achieve this by offering ‘toys for all’, so that the first 100
                    years of your childhood are celebrated to the fullest.</p>
                <p>ToyLand Innovations, an online shopping portal, is an exclusive and the ultimate destination for a
                    wide spectrum of toys. With a deep desire to touch every heart and reach each home in India, we
                    have currently committed all our resources to cater to Indian market.</p>
                <p>Founded by a group of passionate dreamers, ToyLand is all geared up to set new benchmarks in the toy
                    industry and have plans to be the leading ‘pioneers’ in near future. With masters of the trade
                    onboard, we work to understand the psychology and the need of every being in order to deliver the
                    right toy in the right hands! Being a virtual ‘one-stop-shop’ of toys, we are host to a whopping
                    collection of original toy brands. Our ‘all-embracing’, exhaustive range is sure to overwhelm and
                    excite you! High quality products @ never anywhere prices wrapped with lots of love, is what you
                    will get here.</p>
                <h2>Happy Toy Shopping!</h2>

                <div id="blueimp-video-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="play-pause"></a>
                </div>
                <div class="clear"></div>
        </main>
    </div>
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <div class="one_half first full ">
                <p class="mt-0"><b>ToyLand</b> is an online venture of the Canada's Oldest Toy Store.</p>
                <p>The country’s oldest toy store.</p>
                <p>At ToyLand, we have toys, toys, toys, toys and just more toys for kids.</p>
            </div>
            <div class="one_half full center">
                <address class="push20">
                    <b>Toy Land</b><br>
                    1210 Pacific Trails Road<br>
                    Zepphyr, CA 95555

                </address>
                <ul class="nospace">
                    <li class="push10">888-555-5555</li>
                    <li>info@toyland.com</li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="wrapper row5">
        <div id="copyright" class="clear center">
            <p>Copyright &copy; 2017 - All Rights Reserved - <a href="#">ToyLand Group</a><br>
                <a class="mail" href="mailto:kulpreetsingh90@gmail.com">kulpreetsingh90@gmail.com</a></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="js/page2.js"></script>
    <script src="js/blueimp-helper.js"></script>
    <script src="js/blueimp-gallery.js"></script>
    <script src="js/blueimp-gallery-fullscreen.js"></script>
    <script src="js/blueimp-gallery-indicator.js"></script>
    <script src="js/blueimp-gallery-video.js"></script>
    <script src="js/blueimp-gallery-vimeo.js"></script>
    <script src="js/blueimp-gallery-youtube.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/jquery.blueimp-gallery.js"></script>
    <script src="js/demo/demo.js"></script>

</body>

</html>