<!DOCTYPE html>
<html>

<head>
    <title>ToyLand - A Complete Toy Shop</title>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <style>
        main p {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    </style>
</head>

<body id="top">
    <div class="wrapper row1">
        <div id="signUp">
            <a href="signup">|Sign Up|</a>
        </div>
        <header id="header" class="clear">
            <div id="logo" class="float_left">
                <h1><a href="index">ToyLand</a></h1>
            </div>
            <nav id="mainav" class="float_right">
                <ul class="clear">
                    <li><a href="index">Home</a></li>
                    <li><a href="shop">Shop</a></li>
                    <li><a href="aboutus">About</a></li>
                    <li class="active"><a href="contact">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="breadcrumb">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper row3">
        <main id="container" class="clear">
            <div id="content" class="three_quarter first">
                <p> Thanks For Contacting us we will contact you shortly! Thanks</p>
                <div class="clear"></div>
        </main>
    </div>
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <div class="one_half first full ">
                <p class="mt-0"><b>ToyLand</b> is an online venture of the Canada's Oldest Toy Store.</p>
                <p>The country’s oldest toy store.</p>
                <p>At ToyLand, we have toys, toys, toys, toys and just more toys for kids.</p>
            </div>
            <div class="one_half full center">
                <address class="push20">
                    <b>Toy Land</b><br>
                    1210 Pacific Trails Road<br>
                    Zepphyr, CA 95555

                </address>
                <ul class="nospace">
                    <li class="push10">888-555-5555</li>
                    <li>info@toyland.com</li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="wrapper row5">
        <div id="copyright" class="clear center">
            <p>Copyright &copy; 2017 - All Rights Reserved - <a href="#">ToyLand Group</a><br>
                <a class="mail" href="mailto:kulpreetsingh90@gmail.com">kulpreetsingh90@gmail.com</a></p>
        </div>
    </div>
</body>

</html>