<!DOCTYPE html>
<html>
<head>
<title>ToyLand - A Complete Toy Shop</title>
<meta charset="utf-8">
<link href="css/style.css" rel="stylesheet" media="all">
</head>
<body id="top">
<div class="wrapper row1">
    <div id="signUp">
      <a href="signup">|Sign Up|</a>
      </div> 
  <header id="header" class="clear">
        <div id="logo" class="float_left">
      <h1><a href="index">ToyLand</a></h1>
    </div>
    <nav id="mainav" class="float_right">
      <ul class="clear">
        <li class="active"><a href="index">Home</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="aboutus">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper"></div>
<ul class="rslides">
  <li><img src="images/toy1.jpg" alt=""></li>
  <li><img src="images/toy5.jpg" alt=""></li>
</ul>
</div>



<div class="wrapper row3">
  <main id="container" class="clear"> 
    <div class="center push80">
      <h1 class="shout">OUR LATEST ARRIVALS</h1>  
    </div>
    <div class="clear center">
       <p align="center"><img src="images/102.jpg" width="440" height="400" id="upperimage">
      <div id="imagecontainer">
       <img src="images/101.jpg" class="styleofimage"/>
       <img src="images/102.jpg" class="styleofimage"/>
       <img src="images/103.jpg" class="styleofimage"/>
      </div>
      </p>
    </div>
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <div class="one_half first full ">
      <p class="mt-0"><b>ToyLand</b> is an online venture of the Canada's Oldest Toy Store.</p>
	  <p>The country’s oldest toy store.</p>
      <p>At ToyLand, we have toys, toys, toys, toys and just more toys for kids.</p>
    </div>
    <div class="one_half full center">
      <address class="push20">
      <b>Toy Land</b><br>
      1210 Pacific Trails Road<br> 
	  Zepphyr, CA 95555
		
      </address>
      <ul class="nospace">
        <li class="push10">888-555-5555</li>
        <li>info@toyland.com</li>
      </ul>
    </div>    
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="clear center"> 
	<p>Copyright &copy; 2017 - All Rights Reserved - <a href="#">ToyLand Group</a><br>
	<a class="mail" href="mailto:kulpreetsingh90@gmail.com">kulpreetsingh90@gmail.com</a></p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
<script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
 <script src="js/index.js"></script>

</body>
</html>