<!DOCTYPE html>
<html lang="en">

<head>
    <title>ToyLand - A Complete Toy Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
    <div class="wrapper row1">
        <div id="signUp">
            <a href="signup">|Sign Up|</a>
        </div>
        <header id="header" class="clear">
            <div id="logo" class="float_left">
                <h1><a href="index">ToyLand</a></h1>
            </div>
            <nav id="mainav" class="float_right">
                <ul class="clear">
                    <li><a href="index">Home</a></li>
                    <li class="active"><a href="#">Shop</a></li>
                    <li><a href="aboutus">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="breadcrumb">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="shop">Shop</a></li>
            </ul>

        </div>
    </div>

    <div class="wrapper row3">
        <main id="container" class="clear">
            <div id="gallery">
                <figure>
                    <header class="heading">Some Toy's pictures for playing</header>
                    <ul class="nospace clear">
                        <li class="one_quarter first">
                            <a href="#"><img src="images/104.jpg" alt="">
                                <div class="details">
                                    <h4>Toy Train</h4>
                                    <h4 id="price">$25</h4>
                                    <form action="/pay" method="post">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/105.jpg" alt="">
                                <div class="details">
                                    <h4>Wooden Horse</h4>
                                    <h4 id="price">$35</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/106.jpg" alt="">
                                <div class="details">
                                    <h4>Toy Story Characters</h4>
                                    <h4 id="price">$50</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/107.jpg" alt="">
                                <div class="details">
                                    <h4>Tractor</h4>
                                    <h4 id="price">$75</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter first">
                            <a href="#"><img src="images/108.jpg" alt="">
                                <div class="details">
                                    <h4>Mini Car</h4>
                                    <h4 id="price">$37</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/109.jpg" alt="">
                                <div class="details">
                                    <h4>Doll Set</h4>
                                    <h4 id="price">$65</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/110.jpg" alt="">
                                <div class="details">
                                    <h4>Playing Hut</h4>
                                    <h4 id="price">$10</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/111.jpg" alt="">
                                <div class="details">
                                    <h4>Toy Car</h4>
                                    <h4 id="price">$20</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter first">
                            <a href="#"><img src="images/108.jpg" alt="">
                                <div class="details">
                                    <h4>Mini Car</h4>
                                    <h4 id="price">$20</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/105.jpg" alt="">
                                <div class="details">
                                    <h4>Wooden Horse</h4>
                                    <h4 id="price">$46</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/103.jpg" alt="">
                                <div class="details">
                                    <h4>Musical Puppet</h4>
                                    <h4 id="price">$57</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                        <li class="one_quarter">
                            <a href="#"><img src="images/102.jpg" alt="">
                                <div class="details">
                                    <h4>Piggy Bank</h4>
                                    <h4 id="price">$35</h4>
                                    <form action="/pay" method="POST" id="buy">
                                        <input type="submit" value="buy">
                                    </form>
                                </div>
                            </a>
                        </li>
                    </ul>
                </figure>
            </div>
            <div class="clear"></div>
        </main>
    </div>
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <div class="one_half first full ">
                <p class="mt-0"><b>ToyLand</b> is an online venture of the Canada's Oldest Toy Store.</p>
                <p>The country’s oldest toy store.</p>
                <p>At ToyLand, we have toys, toys, toys, toys and just more toys for kids.</p>
            </div>
            <div class="one_half full center">
                <address class="push20">
                    <b>Toy Land</b><br>
                    1210 Pacific Trails Road<br>
                    Zepphyr, CA 95555

                </address>
                <ul class="nospace">
                    <li class="push10">888-555-5555</li>
                    <li> info@toyland.com</li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="wrapper row5">
        <div id="copyright" class="clear center">
            <p>Copyright &copy; 2017 - All Rights Reserved - <a href="#">ToyLand Group</a><br>
                <a class="mail" href="mailto:kulpreetsingh90@gmail.com">kulpreetsingh90@gmail.com</a></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="js/shop.js"></script>

</body>

</html>